{% extends 'base.html.twig' %}

{% block title %}<title>Snowtricks - Create a new trick</title>{% endblock %}


{% block body %}
    <section>
        <div class="container" id="trickInfo">
        {{ form_start(form) }}
            <div id="trickInfoEdit">
                <div id="trickInfoEditName">
                {{ form_widget(form.name) }}
                </div>
                <div id="trickInfoEditContent">
                {{ form_widget(form.description) }}
                {{ form_row(form.mainImage) }}
                </div>
                <div id="trickInfoEditCategory">
                    {{ form_widget(form.category) }}
                </div>
                <div id="trickInfoEditButtons">
                    <button type="submit" class="btn btn-secondary">Create</button>
                </div>
            </div>
        {{ form_end(form) }}
        </div>
    </section>
{% endblock %}