{% extends 'base.html.twig' %}

{% block body %}
    <section id="backgroundTrick">
        <div class="container" id="trickDisplay">
            <div>
                <img id="featuredImg" src="{{'/uploads/' ~ trick.image  }}" alt="Image Trick">
                <div id="trickSpecificName">
                    <h1>{{ trick.name }}</h1>
                </div>
                {% if app.user %}
                <div id="trickSpecifiedButtons">
                    <a href="{{ path('edit_trick', {slug: trick.slug}) }}"><i class="fa-solid fa-pen"></i></a>
                    <a href="{{ path('delete_trick', {id: trick.id }) }}"><i class="fa-solid fa-trash"></i></a>
                </div>
                {% endif %}
            </div>
            
            <div class="container" id="trickInfo">
                {% include 'parts/carousel/_carousel.html.twig' %}
                <p>
                    {{ trick.description }}
                    <small class="text-muted">{{ trick.updatedAt | date("d/m/Y H:i") }}</small>
                </p>
                <div id="trickInfoDetails">
                    <small>{{ trick.category }}</small>
                </div>
                {% if app.user %}
                {{ form_start(form) }}
                <div class="row" id="trickInfoLeavingComment">
                    <div class="col-lg col-xs" id="trickTextarea">
                        {# <textarea placeholder="Enter your message"></textarea> #}
                        {{ form_widget(form.content) }}
                        <button type="submit" class="btn btn-secondary">Leave a comment</button>
                    </div>
                </div>
                {{ form_end(form) }}
                {% endif %}
                <div class="row" id="trickCommentList">
                    {% include 'parts/_comments.html.twig' with {'comment': comment} %}
                </div>
                <div id="trickItemsLoad">
                    <button type="button" class="btn btn-secondary" id="load-more-comments" data-url="{{ path('load-more-comments', {'slug': trick.slug}) }}" data-nextpage="2">Load more</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        const containerTricks = document.querySelector('#trickCommentList');
        const buttonElement = document.querySelector('#load-more-comments');

        buttonElement.addEventListener('click', (e) => {
            const urlToCall = buttonElement.dataset.url;
            const nextPage = buttonElement.dataset.nextpage;
            fetch(`${urlToCall}?page=${nextPage}`)
            .then(resp => resp.json())
            .then(data => {
                if (data.code === 200) {
                    containerTricks.innerHTML += data.html;
                    buttonElement.dataset.nextpage++;
                }
            })
        })
    </script>
{% endblock %}